.mat-toolbar-row, .mat-toolbar-single-row {
    height: 19vh;
}

.mat-card-title {
    font-size: 57px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: auto;
}

.mat-card-subtitle {
    color: #fff;
    margin-left: 15px;
    font-size: 21px;
}