<mat-toolbar color="primary">
  <mat-toolbar-row>
      <mat-card-title>HN Feed</mat-card-title>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-card-subtitle>we <3 hacker news!</mat-card-subtitle>
  </mat-toolbar-row>
</mat-toolbar>