/* Structure */
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-Fecha {
  min-width: 20vw;
}
.mat-column-icon {
  min-width: 10vw;
}

.mat-column-Titulo {
  min-width: 70vw;
}

.showhim:hover .showme {
  display: block;
}
.mat-row {
  background-color: #fff;
}
.mat-row:hover {
  background-color: #fafafa;
  cursor: pointer;
  .mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
}

.mat-icon {
  display: none;
}

.color-labels {
  color:#333;
  font-size: 13pt;
}

.color-autor{
  color: #999;
}

