<div class="example-container mat-elevation-z8">
  <div
    class="example-loading-shade"
    *ngIf="isLoadingResults || isRateLimitReached"
  >
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      Error en la comunicacion con el servidor de noticias.
    </div>
  </div>

  <div class="example-table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      class="example-table"
      matSort
      matSortActive="Fecha"
      matSortDisableClear
      matSortDirection="desc"
    >
      <!-- Title Column -->
      <ng-container matColumnDef="Titulo">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td
          (click)="rowSelected(row.url ? row.url : row.story_url)"
          mat-cell
          *matCellDef="let row"
        >
          <span class="color-labels">{{
            row.title ? row.title : row.story_title
          }}</span>
          <span class="color-autor" style="margin-left: 1%;"
            >- {{ row.author }} -</span
          >
        </td>
      </ng-container>

      <!-- Titulo Column -->
      <ng-container matColumnDef="Fecha">
        <th
          style="text-align: center !important;"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          disableClear
        >
          Date
        </th>
        <td
          (click)="rowSelected(row.url ? row.url : row.story_url)"
          style="text-align: center !important;"
          mat-cell
          *matCellDef="let row"
        >
          <span class="color-labels">{{ row.created_at? row.created_at : 'NO DATE' }}</span>
        </td>
      </ng-container>

      <!-- Titulo Column -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear></th>
        <td mat-cell *matCellDef="let row">
          <mat-icon (click)="clickDelete(row)">delete_forever</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>
